
<launch>
  <node pkg="week1_170100025_16d070043" type="names_publisher.py" name="topic_publisher1"  output="screen" />
  <node pkg="week1_170100025_16d070043" type="rolls_publisher.py" name="topic_publisher2"  output="screen" />
  <node pkg="week1_170100025_16d070043" type="joint_subscriber.py" name="topic_subscriber"  output="screen" />
</launch>