<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find week3)/launch/trilateration_load.launch" />
  <node pkg="week3_170100025_16d070043" type="trilateration_locator.py" name="trilateration_locator_node" output="screen" />
  <node pkg="week3_170100025_16d070043" type="odom_subscriber.py" name="odom_subscriber_node" output="screen" />
  <node pkg="week3_170100025_16d070043" type="vel_publisher.py" name="vel_publisher_node" output="log" />
  <node pkg="week3_170100025_16d070043" type="visualizer.py" name="vis_node"  output="screen" />
</launch>